version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: fitness-mysql
    environment:
      MYSQL_DATABASE: fittrack
      MYSQL_USER: teddy
      MYSQL_PASSWORD: teddy4309
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  server:
    build: ./server
    container_name: fitness-server
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    depends_on:
      - mysql

  client:
    build: ./client
    container_name: fitness-client
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - server

volumes:
  mysql_data: {}

